body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  background-color: #6b66c2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom:-30px ;
}

form {
  background-color: #e2dfdf;
  padding: 25px 25px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}

form label {
  padding:1% ;
}

input {
  
  border: none;
  border-radius: 8px;
  margin-top:2% ;
  margin-bottom:2% ;
  width: 100%;
  height:70% ;
}

input:focus {
  color: #6b66c2;
  background-color: rgb(225, 248, 255); 
}

button {
  
  padding: 10px ; 
  margin:0 auto;
  margin-top: 20px;
  width: 50%;
  background-color: #6b66c2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  
  
}

button:hover {
    color:rgb(225, 248, 255); 
    background-color: #251f6d;
    transition:0.4s ease;
    transform: scale(1.1);
}

footer{
    display:flex ;
    flex-direction: row;
    gap:15% ;
}

.seta {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin-right:2%;
}

.link {
  color: white;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  width: 52%;
}

.link a {
  color: #051efd;
  text-decoration: none;
  font-weight: bold;
}

.link:hover{
    transition: 0.4s ease;
    transform: scale(1.1);
}
#msg {
  color: red;
  font-size:15px ;
  font-weight:lighter;

}

