body{
    margin: 0%;
    font-family: Verdana;
}
header{
    display: flex;
    align-items: center;
    gap: 100px;
}
.container{
    padding-top: 25px;
    padding-bottom: 40px;
}
input{
    width: 700px;
    height: 40px;
}
button{
    border: none;
    outline: none;
    background: none;
    color: white;
}
.icones{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 40px;
}
nav{
    background-color: rgba(104, 102, 197, 1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: white;
}
#classificaçao{
    margin-left: 75px;
}
.filme1{
    width: 17%;
    height: 350px;
    border-radius: 30px;
}
.filme2{
    width: 17%;
    height: 350px;
    border-radius: 30px;
}
.poster{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.filmes1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.filmes2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
footer{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    background-color: rgba(104, 102, 197, 1);
    padding:  25px 0px;
    gap: 100px;
    color: white;
}
#logocinedica2{
    width: 250px;
    height: 70px;
}
.copyright{
    text-align: center;
    background-color: rgba(104, 102, 197, 1);
    margin-top: 2px;
    color: white;
}
.filme1:hover{
    width: 18%;
    height: 370px;
    transition: 0.5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.filme2:hover{
    width: 18%;
    height: 370px;
    transition: 0.5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
input:hover{
    background-color: lightgray;
    transition: 0.5s;
}
body.dark-mode {
    background-color:  rgba(13, 13, 40, 1);
    color: white;
}

body.dark-mode nav,
body.dark-mode footer,
body.dark-mode .copyright {
    background-color: rgba(104, 102, 197, 1);
    color: white;
}

body.dark-mode input {
    background-color:  rgba(13, 13, 40, 1);
    color: white;
    border: 1px solid #555;
}

body.dark-mode a {
    color: #cfcfcf;
}

body.dark-mode .filme1,
body.dark-mode .filme2 {
    background-color:  rgba(13, 13, 40, 1);
}

